# graft src/public_power_backend/non/python/file/directory

prune .github
prune docs
prune notebooks

global-exclude .gitignore .gitattributes .git-blame-ignore-revs
global-exclude .bandit.yml .codecov.yml .coveragerc .mypy.ini
global-exclude .pre-commit-config.yaml .readthedocs.yml
